@(comments: Seq[models.Comment], user: models.User)(implicit userOpt: Option[models.User], flash: Flash, messages: Messages)

<div id="comments-container">
  <div class="hidden-id">-1</div>
  <div class="media-body">
    <div class="media-panel">
    @userDefined {
      <a href="#" class="create-comment">Комментировать</a>
    }
    </div>
    @userDefined {
    <div class="media-create-comment">
      <textarea id="comment_text" rows="2"></textarea>
      <div><a class="send-comment" href="#">Отправить</a></div>
    </div>
    }
    <div class="media-container">@commentsSequenceView(comments, user)</div>
  </div>  
</div>
